.search_container {
<<<<<<< HEAD
    @apply flex pl-[275px];
    
=======
    @apply w-[1280px] pr-36 flex items-center justify-center;    
>>>>>>> 1866d183d4488fb8cb646a00d73a24f8ae8b84ed
}

@media screen and (max-width: 768px) {
    .search_container {
        @apply max-w-full p-0 flex flex-col;
    }

    .game_not_found {
        @apply text-[18px];
    }

    .search {
        @apply max-w-[60%];
    }

    .not_found {
        @apply m-0;
    }
}

.search {
    @apply w-[400px];
}

.not_found {
    @apply ml-10;
}



.game_not_found {
    @apply text-[24px] cursor-pointer;
    opacity:1;
    transition:0.6s;
    color:#3E3F45;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    white-space: nowrap;
}

.game_not_found:hover {
    color: #e84331;
    transition:0.6s;
    background-size: 100% 1px;
}

.slider {
    @apply w-full mt-16;
}

.fade {
    @apply absolute z-40;
    transform: translate(1200px, -678px);
    width: 299px;
    height: 100vh;
    flex-shrink: 0;
    background: linear-gradient(270deg, #000 -89.8%, rgba(0, 0, 0, 0.00) 90.28%);
}