.header {
    @apply w-full flex items-center justify-center pt-12 pb-3 mobile:pt-6;
}

.logo_container {
    grid-area: L;
}

.header_container {
    width: 80%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    @apply 830px:w-full 830px:justify-center;
}

.btns {
    @apply ml-10 space-x-6 830px:hidden;
    grid-area: B;
}


.btn {
    @apply relative transition-colors z-10 py-8 mobile:py-6 px-10 bg-[#24252F] rounded-[24px] text-xl opacity-60 hover:opacity-100 hover:outline hover:outline-2 hover:outline-[#FB2A29] before:hover:bg-black before:rounded-[24px] before:top-0 before:left-0 before:w-full before:h-full before:absolute before:opacity-70 before:-z-10;
}