-.sidebar {
    @apply  min-h-[500px];
}

.sidebar_name {
    @apply text-[24px] text-left font-semibold;
}

.variants {
    @apply ml-[136px] mt-[46px];
}

.profile_block {
@apply flex ml-[136px] mt-[28px] ;
}

.profile_avatar {
    @apply pt-2 cursor-pointer;
    z-index: 3;
    @apply w-[60px] h-[60px] rounded-[100px];
    transition: 0.6s;
}

.profile_avatar_icon {
    @apply cursor-pointer;

}


.profile_avatar .profile_settings:hover {
    opacity:1;
}

.profile_settings {
    opacity: 0;
    transform: translate(0px, -30px);
    @apply absolute pt-5 pl-5 w-[60px] h-[60px];
    transition: 0.4s;
}

.profile_info_wallet {
    @apply flex;
}

.profile_count {
    @apply ml-[9px] text-[24px] font-light;
}

.profile_settings:hover {
    opacity:1;
    filter: brightness(100%);
    transform: translate(0px, -50px);

}

.order_details {
    @apply mt-8 ml-[136px];
}

.profile_avatar_wrapper {
    transition: 0.6s;
   @apply w-[65px] cursor-pointer h-[65px];
}

.profile_avatar_wrapper:hover {
    filter: brightness(70%);
}

.profile_info_block {
    @apply ml-[24px];
}

.profile_p {
    @apply text-[24px] mt-[5px] font-semibold;
}

.info_block p {
    opacity:0.7;
    transition:0.6s;
    color:#3E3F45;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
}

.info_block {
    transition:0.3s;
    @apply ml-[136px] w-full m-[44px];
}

.info_block p:hover {
    color: #FF2100;
    transition:0.6s;
    background-size: 100% 1px;
}