.add_photo {
    @apply absolute z-40 mr-4 text-[#24252F] text-[1px] w-[40px];
    transform: translate(60px, 40px);
    background-image: url('/ui-assets/gallery.svg');
    background-repeat: no-repeat;
    background-size:80%;
    background-position: center center;
    padding: 0
}

.add_photo::file-selector-button { 
    display: none; 
 }

.add_photo_i {
    @apply absolute z-50 mr-4 h-[32px] w-[32px];
    transform: translate(70px, 50px);
}